<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê 2:</b>

–ü—Ä–∏–≤–µ—Ç—Å—Ç–≤—É—é —Ç–µ–±—è –µ—â–µ —Ä–∞–∑!) –°–ø–∞—Å–∏–±–æ –∑–∞ —Ç–æ, —á—Ç–æ –¥–æ—Ä–∞–±–æ—Ç–∞–ª –ø—Ä–æ–µ–∫—Ç!

–ú–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –±—É–¥—É—Ç —Ç–∞–∫–∂–µ –æ–±–æ–∑–Ω–∞—á–µ–Ω—ã —Ä–∞–∑–Ω—ã–º–∏ —Ü–≤–µ—Ç–∞–º–∏, –Ω–æ —Å –ø–æ–º–µ—Ç–∫–æ–π 2:
    
    ¬´–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê 2: ... ¬ª

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê 2:</b> 


–ú–∏—Ö–∞–∏–ª, —Ç—ã —Ö–æ—Ä–æ—à–æ –¥–æ—Ä–∞–±–æ—Ç–∞–ª –ø—Ä–æ–µ–∫—Ç, –¥—É–º–∞—é —Ç–µ–ø–µ—Ä—å —è –º–æ–≥—É –µ–≥–æ –ø—Ä–∏–Ω—è—Ç—å! –ñ–µ–ª–∞—é —É—Å–ø–µ—Ö–æ–≤ –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –æ–±—É—á–µ–Ω–∏–∏, –æ–∑–Ω–∞–∫–æ–º—å—Å—è —Å –º–æ–∏–º–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è–º–∏
</div>

<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê</b>

–ü—Ä–∏–≤–µ—Ç, –ú–∏—Ö–∞–∏–ªüëã!)

–ú–µ–Ω—è –∑–æ–≤—É—Ç –û–±–∏–¥–∏–Ω –ê–Ω–¥—Ä–µ–π, —è –æ—Å—É—â–µ—Å—Ç–≤–ª—è–ª –ø—Ä–æ–≤–µ—Ä–∫—É –ø—Ä–æ–µ–∫—Ç–∞. –ú–æ–∂–µ—Ç –ø–µ—Ä–µ–π–¥–µ–º —Å—Ä–∞–∑—É –Ω–∞ <b>—Ç—ã</b>? –ï—Å–ª–∏ —ç—Ç–æ –Ω–µ–ø—Ä–∏–µ–º–ª–µ–º–æ, —Ç–æ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –¥–∞–π –∑–Ω–∞—Ç—å)

–ë–ª–∞–≥–æ–¥–∞—Ä—é —Ç–µ–±—è –∑–∞ —Ç–æ, —á—Ç–æ –≤–æ–≤—Ä–µ–º—è –≤—Å—ë —Å–¥–∞–ª –∏ —Ö–æ—Ä–æ—à–æ –ø–æ—Ä–∞–±–æ—Ç–∞–ª!)

`–ú–∏—Ö–∞–∏–ª, —Ç—ã —Ö–æ—Ä–æ—à–æ –≤—ã–ø–æ–ª–Ω–∏–ª –ø—Ä–æ–µ–∫—Ç, –Ω–æ –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –º–æ–º–µ–Ω—Ç—ã –Ω—É–∂–Ω–æ –Ω–µ–º–Ω–æ–≥–æ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å. –Ø —Å–æ—Å—Ç–∞–≤–∏–ª —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏, –ø–æ—Ä–∞–±–æ—Ç–∞–π —Å –Ω–∏–º–∏, –µ—Å–ª–∏ –≤–¥—Ä—É–≥ –±—É–¥–µ—Ç —á—Ç–æ-—Ç–æ –Ω–µ–ø–æ–Ω—è—Ç–Ω–æ, —Ç–æ –Ω–∞–ø–∏—à–∏!)`

–î–∞–ª–µ–µ –ø–æ —Ö–æ–¥—É —Ä–∞–±–æ—Ç—ã —Ç—ã —Å–º–æ–∂–µ—à—å –≤—Å—Ç—Ä–µ—Ç–∏—Ç—å –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –æ–Ω–∏ –±—É–¥—É—Ç –æ—Ç–º–µ—á–µ–Ω—ã —Ä–∞–∑–Ω—ã–º–∏ —Ü–≤–µ—Ç–∞–º–∏:

<div class="alert alert-block alert-success">
–ü–æ—Ö–≤–∞–ª–∞ –∏ –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç–∏ —Ä–∞–∑–≤–∏—Ç–∏—è
</div>
<div class="alert alert-block alert-warning">
–ù–µ–∫—Ä–∏—Ç–∏—á–Ω—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è, –Ω–æ —Å—Ç–æ–∏—Ç –æ–±—Ä–∞—Ç–∏—Ç—å –≤–Ω–∏–º–∞–Ω–∏–µ
</div>
<div class="alert alert-block alert-danger">
–ì—Ä—É–±–∞—è –æ—à–∏–±–∫–∞, –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å
</div>


–ó–∞—Ä–∞–Ω–µ–µ –ø—Ä–æ—à—É –Ω–µ —É–¥–∞–ª—è—Ç—å –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, —ç—Ç–æ –≤–∞–∂–Ω–æ. –ï—Å–ª–∏ —É —Ç–µ–±—è –≤–æ–∑–Ω–∏–∫–Ω—É—Ç –≤–æ–ø—Ä–æ—Å—ã, –æ–±–æ–∑–Ω–∞—á—å –∏—Ö, —è —Å —Ä–∞–¥–æ—Å—Ç—å—é —Ç–µ–±–µ –ø–æ–º–æ–≥—É!)

–ö–∞–∫ –≤–∞—Ä–∏–∞–Ω—Ç, –º–æ–∂–µ—à—å –æ–±–æ–∑–Ω–∞—á–∏—Ç—å –∏—Ö —Ç–∞–∫:
<div class="alert alert-block alert-info">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –°–¢–£–î–ï–ù–¢–ê:</b>
</div>

# –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –Ω–∞–¥—ë–∂–Ω–æ—Å—Ç–∏ –∑–∞—ë–º—â–∏–∫–æ–≤

–ó–∞–∫–∞–∑—á–∏–∫ ‚Äî –∫—Ä–µ–¥–∏—Ç–Ω—ã–π –æ—Ç–¥–µ–ª –±–∞–Ω–∫–∞. –ù—É–∂–Ω–æ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è, –≤–ª–∏—è–µ—Ç –ª–∏ —Å–µ–º–µ–π–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π –∫–ª–∏–µ–Ω—Ç–∞ –Ω–∞ —Ñ–∞–∫—Ç –ø–æ–≥–∞—à–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫. –í—Ö–æ–¥–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –æ—Ç –±–∞–Ω–∫–∞ ‚Äî —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –æ –ø–ª–∞—Ç—ë–∂–µ—Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤.

–†–µ–∑—É–ª—å—Ç–∞—Ç—ã –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –±—É–¥—É—Ç —É—á—Ç–µ–Ω—ã –ø—Ä–∏ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏–∏ –º–æ–¥–µ–ª–∏ **–∫—Ä–µ–¥–∏—Ç–Ω–æ–≥–æ —Å–∫–æ—Ä–∏–Ω–≥–∞** ‚Äî —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ–π —Å–∏—Å—Ç–µ–º—ã, –∫–æ—Ç–æ—Ä–∞—è –æ—Ü–µ–Ω–∏–≤–∞–µ—Ç —Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç—å –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ–≥–æ –∑–∞—ë–º—â–∏–∫–∞ –≤–µ—Ä–Ω—É—Ç—å –∫—Ä–µ–¥–∏—Ç –±–∞–Ω–∫—É.

## –®–∞–≥ 1. –û—Ç–∫—Ä–æ–π—Ç–µ —Ñ–∞–π–ª —Å –¥–∞–Ω–Ω—ã–º–∏ –∏ –∏–∑—É—á–∏—Ç–µ –æ–±—â—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é

In [173]:
import pandas as pd
df = pd.read_csv('/datasets/data.csv') # –æ—Ç–∫—Ä—ã–≤–∞—é —Ñ–∞–π–ª —Å –¥–∞–Ω–Ω—ã–º–∏
df.info() # —Å–º–æ—Ç—Ä—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –ø–æ —Ñ–∞–π–ª—É

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [174]:
df.head(20) #–∏–∑—É—á–∞—é –¥–∞—Ç–∞—Ñ—Ä–µ–π–º

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875.639453,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,-4024.803754,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080.014102,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,-5623.422610,33,–°—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885.952297,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,-4124.747207,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628.550329,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.072047,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616.077870,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
5,0,-926.185831,27,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,255763.565419,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
6,0,-2879.202052,43,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,240525.971920,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º
7,0,-152.779569,50,–°–†–ï–î–ù–ï–ï,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,135823.934197,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
8,2,-6929.865299,35,–í–´–°–®–ï–ï,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,95856.832424,–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
9,0,-2188.756445,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,144425.938277,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏
10,2,-4171.483647,36,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,113943.491460,–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
11,0,-792.701887,40,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,77069.234271,–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
12,0,NaN,65,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,NaN,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
13,0,-1846.641941,54,–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ,2,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,130458.228857,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
14,0,-1844.956182,56,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,1,165127.911772,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
15,1,-972.364419,26,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,116820.904450,—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
16,0,-1719.934226,35,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,289202.704229,–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å
17,0,-2369.999720,33,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,90410.586745,—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
18,0,400281.136913,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞,2,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,56823.777243,–Ω–∞ –ø–æ–∫—É–ø–∫—É –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω–æ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
19,0,-10038.818549,48,–°–†–ï–î–ù–ï–ï,1,–≤ —Ä–∞–∑–≤–æ–¥–µ,3,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,242831.107982,–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è

>**–í—ã–≤–æ–¥:**  
–í—Å–µ–≥–æ –≤ —Ç–∞–±–ª–∏—Ü–µ 12 —Å—Ç–æ–ª–±—Ü–æ–≤ –∏ 21525 —Å—Ç—Ä–æ–∫.  
–í —Å—Ç–æ–ª–±—Ü–∞—Ö **days_employed** –∏ **total_income** –µ—Å—Ç—å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, –ø–æ–º–∏–º–æ —Ç–æ–≥–æ –≤ —Å—Ç–æ–±—Ü–µ **days_employed** –µ—Å—Ç—å –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –∏ —Ñ–æ—Ä–º–∞—Ç –¥–∞–Ω–Ω—ã—Ö float

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 
    
    

–•–æ—Ä–æ—à–∏–π –æ–±–∑–æ—Ä, –ø–æ–º–∏–º–æ —ç—Ç–æ–≥–æ –µ—Å—Ç—å —è–≤–Ω—ã–µ –ø—Ä–æ–±–ª–µ–º—ã —Å —Ç–∏–ø–∞–º–∏ –¥–∞–Ω–Ω—ã—Ö
</div>

## –®–∞–≥ 2. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

### –û–±—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–ø—É—Å–∫–æ–≤

<div class="alert alert-block alert-info">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –°–¢–£–î–ï–ù–¢–ê:</b>
–ê–Ω–¥—Ä–µ–π!
–ß—Ç–æ–±—ã –∑–∞–ø–æ–ª–Ω–∏—Ç—å –∑–Ω–∞—á–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ –µ–∂–µ–º–µ—Å—è—á–Ω–æ–≥–æ –¥–æ—Ö–æ–¥–∞ —è –≤–∏–∂—É –æ–¥–∏–Ω –≤—ã—Ö–æ–¥, —Å —Ç–µ–º–∏ –∑–Ω–∞–Ω–∏—è–º–∏ —á—Ç–æ —É –º–µ–Ω—è –µ—Å—Ç—å, —ç—Ç–æ –≤—ã–¥–µ–ª–∏—Ç—å –≤ –æ—Ç–¥–µ–ª—å–Ω—ã–µ –¥–∞—Ç–∞—Ñ—Ä–µ–º—ã –ø–æ –∫–∞–∂–¥–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –∏ —Ç–∞–º –ø–æ–º–µ–Ω—è—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –Ω–∞ –º–µ–¥–∏–∞–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ—Ç–æ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –î–§ —Å–æ–µ–¥–µ–Ω–∏—Ç—å –≤ –æ–¥–∏–Ω.  
–ú–µ—Ç–æ–¥ df[df.income_type == "—Å–æ—Ç—Ä—É–¥–Ω–∏–∫"]["total_income].fillna(–∑–Ω–∞—á–∞–µ–Ω–∏–µ, inplace=True) –Ω–µ —Ä–∞–±–æ—Ç–∞–µ—Ç    
</div>

In [175]:
df["days_employed"].isnull().sum() #—Å—á–∏—Ç–∞—é –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ –æ–±—â–∏–π —Ç—Ä—É–¥–æ–≤–æ–π —Å—Ç–∞–∂ —Ä–∞–±–æ—Ç—ã

2174

In [176]:
df["total_income"].isnull().sum() #—Å—á–∏—Ç–∞—é –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ –µ–∂–µ–º–µ—Å—è—á–Ω—ã–π –¥–æ—Ö–æ–¥

2174

In [177]:
#df[df.gender == "XNA"]
df.loc[df.gender == "XNA", "gender"] = "F" #–º–µ–Ω—è—é –∑–Ω–∞—á–µ–Ω–∏–µ –Ω–µ–ø–æ–Ω—è—Ç–Ω–æ–≥–æ –ø–æ–ª–∞ –Ω–∞ Female

In [178]:
df["gender"].unique() #—Å–º–æ—Ç—Ä—é —Ä–µ–∑—É–ª—å—Ç–∞—Ç

array(['F', 'M'], dtype=object)

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê 2:</b> 
    
    
–•–æ—Ä–æ—à–∞—è –æ–±—Ä–∞–±–æ—Ç–∫–∞ –ø–æ–ª–∞

</div>

In [131]:
median_dob_years = df["dob_years"].median
#–∑–∞–º–µ–Ω—è—é –∑–Ω–∞—á–µ–Ω–∏—è –≤–æ–∑—Ä–∞—Å—Ç–∞ –º–µ–Ω—å—à–µ 18 –Ω–∞ –º–µ–¥–∏–∞–Ω–Ω—ã–µ, —Ç–∞–∫ –∫–∞–∫ –∫—Ä–µ–¥–∏—Ç—ã –º–æ–∂–Ω–æ –±—Ä–∞—Ç—å —Å 18 –ª–µ—Ç
df.loc[df.dob_years < 18, "dob_years"] = median_dob_years

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê 2:</b> 
    
    
–ú–æ–∂–Ω–æ –±—ã–ª–æ —Ç–∞–∫:
    


`data['dob_years'] = data.groupby('family_status')['dob_years'].transform(lambda x: x.replace(0, int(x.median())))`

</div>

In [179]:
df_days_employed_median = df.groupby("income_type")["days_employed"].median().reset_index()
# —Å–æ–∑–¥–∞–ª –Ω–æ–≤—ã–π –î–§ —Å –º–µ–¥–∏–∞–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ —Å—Ç–∞–∂–∞ —Ä–∞–±–æ—Ç—ã –ø–æ –≥—Ä—É–ø–ø–∞–º –∑–∞–Ω—è—Ç–æ—Å—Ç–∏
df_days_employed_median

       income_type  days_employed
0      –±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π  366413.652744
1        –≤ –¥–µ–∫—Ä–µ—Ç–µ   -3296.759962
2      –≥–æ—Å—Å–ª—É–∂–∞—â–∏–π   -2689.368353
3        –∫–æ–º–ø–∞–Ω—å–æ–Ω   -1547.382223
4        –ø–µ–Ω—Å–∏–æ–Ω–µ—Ä  365213.306266
5  –ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å    -520.848083
6        —Å–æ—Ç—Ä—É–¥–Ω–∏–∫   -1574.202821
7          —Å—Ç—É–¥–µ–Ω—Ç    -578.751554

In [180]:
df_total_income_median = df.groupby("income_type")["total_income"].median().reset_index()
# —Å–æ–∑–¥–∞–ª –Ω–æ–≤—ã–π –î–§ —Å –º–µ–¥–∏–∞–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ —Å—Ä–µ–¥–Ω–µ–π –∑–∞—Ä–ø–ª–∞—Ç—ã –ø–æ –≥—Ä—É–ø–ø–∞–º –∑–∞–Ω—è—Ç–æ—Å—Ç–∏
df_total_income_median

       income_type   total_income
0      –±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π  131339.751676
1        –≤ –¥–µ–∫—Ä–µ—Ç–µ   53829.130729
2      –≥–æ—Å—Å–ª—É–∂–∞—â–∏–π  150447.935283
3        –∫–æ–º–ø–∞–Ω—å–æ–Ω  172357.950966
4        –ø–µ–Ω—Å–∏–æ–Ω–µ—Ä  118514.486412
5  –ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å  499163.144947
6        —Å–æ—Ç—Ä—É–¥–Ω–∏–∫  142594.396847
7          —Å—Ç—É–¥–µ–Ω—Ç   98201.625314

In [181]:
df_unemployed = df[df.income_type == "–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π"] #—Å–æ–∑–¥–∞—é –î–§ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π, —Ç—É—Ç –ø—Ä–æ–ø—É—Å–∫–æ–≤ –Ω–µ—Ç
df_unemployed

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
3133,1,337524.466835,31,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π,1,59956.991984,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏
14798,0,395302.838654,45,–í—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π,0,202722.511368,—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é

In [182]:
df_decree = df[df.income_type == "–≤ –¥–µ–∫—Ä–µ—Ç–µ"] #—Å–æ–∑–¥–∞—é –î–§ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –≤ –¥–µ–∫—Ä–µ—Ç–µ, —Ç—É—Ç –ø—Ä–æ–ø—É—Å–∫–æ–≤ –Ω–µ—Ç
df_decree

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
20845,2,-3296.759962,39,–°–†–ï–î–ù–ï–ï,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≤ –¥–µ–∫—Ä–µ—Ç–µ,1,53829.130729,–∞–≤—Ç–æ–º–æ–±–∏–ª—å

In [183]:
df_civil_servante = df[df.income_type == "–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π"] 
#—Å–æ–∑–¥–∞—é –î–§ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –≥–æ—Å—Å–ª—É–∂–∞—â–∏–π, –º–µ–Ω—è—é –ø—Ä–æ–ø—É—Å–∫–∏ –Ω–∞ –º–µ–¥–∏–∞–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è
df_civil_servante["days_employed"] = df_civil_servante["days_employed"].fillna(df_days_employed_median.loc[2, "days_employed"])
df_civil_servante["total_income"] = df_civil_servante["total_income"].fillna(df_total_income_median.loc[2, "total_income"])
df_civil_servante.isnull().sum()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

In [184]:
df_companion = df[df.income_type == "–∫–æ–º–ø–∞–Ω—å–æ–Ω"]
#—Å–æ–∑–¥–∞—é –î–§ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –∫–æ–º–ø–∞–Ω—å–æ–Ω, –º–µ–Ω—è—é –ø—Ä–æ–ø—É—Å–∫–∏ –Ω–∞ –º–µ–¥–∏–∞–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è
df_companion["days_employed"] = df_companion["days_employed"].fillna(df_days_employed_median.loc[3, "days_employed"])
df_companion["total_income"] = df_companion["total_income"].fillna(df_total_income_median.loc[3, "total_income"])
df_companion.isnull().sum()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

In [185]:
df_retiree = df[df.income_type == "–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä"]
#—Å–æ–∑–¥–∞—é –î–§ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –ø–µ–Ω—Å–∏–æ–Ω–µ—Ä, –º–µ–Ω—è—é –ø—Ä–æ–ø—É—Å–∫–∏ –Ω–∞ –º–µ–¥–∏–∞–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è
df_retiree["days_employed"] = df_retiree["days_employed"].fillna(df_days_employed_median.loc[4, "days_employed"])
df_retiree["total_income"] = df_retiree["total_income"].fillna(df_total_income_median.loc[4, "total_income"])
df_retiree.isnull().sum()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

In [186]:
df_boss = df[df.income_type == "–ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å"]
#—Å–æ–∑–¥–∞—é –î–§ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å, –º–µ–Ω—è—é –ø—Ä–æ–ø—É—Å–∫–∏ –Ω–∞ –º–µ–¥–∏–∞–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è
df_boss["days_employed"] = df_boss["days_employed"].fillna(df_days_employed_median.loc[5, "days_employed"])
df_boss["total_income"] = df_boss["total_income"].fillna(df_total_income_median.loc[5, "total_income"])
df_boss.isnull().sum()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

In [187]:
df_employee = df[df.income_type == "—Å–æ—Ç—Ä—É–¥–Ω–∏–∫"]
#—Å–æ–∑–¥–∞—é –î–§ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫, –º–µ–Ω—è—é –ø—Ä–æ–ø—É—Å–∫–∏ –Ω–∞ –º–µ–¥–∏–∞–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è
df_employee["days_employed"] = df_employee["days_employed"].fillna(df_days_employed_median.loc[6, "days_employed"])
df_employee["total_income"] = df_employee["total_income"].fillna(df_total_income_median.loc[6, "total_income"])
df_employee.isnull().sum()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

In [188]:
df_student = df[df.income_type == "—Å—Ç—É–¥–µ–Ω—Ç"] #—Å–æ–∑–¥–∞—é –î–§ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç, —Ç—É—Ç –ø—Ä–æ–ø—É—Å–∫–æ–≤ –Ω–µ—Ç
df_student.isnull().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

In [189]:
df = pd.concat([df_unemployed, df_decree, df_civil_servante, df_companion, df_retiree, df_boss, \
               df_employee, df_student], ignore_index=True)
#–æ–±—ä–µ–¥–∏–Ω—è—é –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –î–§ –≤ –æ–¥–∏–Ω —Å–º–æ—Ç—Ä—é —Ä–µ–∑—É–ª—å—Ç–∞—Ç
df

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,337524.466835,31,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π,1,59956.991984,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏
1,0,395302.838654,45,–í—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π,0,202722.511368,—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é
2,2,-3296.759962,39,–°–†–ï–î–ù–ï–ï,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≤ –¥–µ–∫—Ä–µ—Ç–µ,1,53829.130729,–∞–≤—Ç–æ–º–æ–±–∏–ª—å
3,0,-2689.368353,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,150447.935283,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,-2689.368353,50,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,150447.935283,—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º
...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,-2351.431934,37,—É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å,4,–≤ —Ä–∞–∑–≤–æ–¥–µ,3,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,115949.039788,–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
21521,1,-2113.346888,38,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,1,89672.561153,–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å
21522,3,-3112.481705,38,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,1,244093.050500,–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
21523,2,-1984.507589,40,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,82047.418899,–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è
21524,0,-578.751554,22,–≤—ã—Å—à–µ–µ,0,–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º,4,M,—Å—Ç—É–¥–µ–Ω—Ç,0,98201.625314,—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏

In [190]:
df.isnull().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

>**–í—ã–≤–æ–¥**  
–ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö **days_employed** –∏ **total_income** –æ–¥–∏–Ω–∞–∫–æ–≤–æ –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω–æ–≥–æ –î–§ –≤–∏–¥–Ω–æ —á—Ç–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ **—Ä–∞–≤–Ω–æ** –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π —ç—Ç–æ –æ–∑–Ω–∞—á–∞–µ—Ç —á—Ç–æ –∑–Ω–∞—á–µ–Ω–∏—è –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã **–≤ –æ–¥–Ω–∏—Ö –∏ —Ç–µ—Ö –∂–µ —Å—Ç—Ä–æ–∫–∞—Ö.** –ö–ª–∏–µ–Ω—Ç—ã –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –¥–∞–≤–∞–ª–∏ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –µ–∂–µ–º–µ—Å—è—á–Ω–æ–º –¥–æ—Ö–æ–¥–µ —Ç–∞–∫–∂–µ –Ω–µ –¥–∞–≤–∞–ª–∏ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ —Å—Ç–∞–∂–µ —Ä–∞–±–æ—Ç—ã.  
–ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –∏–º–µ—é—Ç –∫–æ–ª–ª–∏—á–µ—Å—Ç–≤–µ–Ω–Ω—ã–π —Ç–∏–ø –∏ –±—ã–ª–∏ –∑–∞–º–µ–Ω–µ–Ω—ã –Ω–∞ –º–µ–¥–∏–∞–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è

<div class="alert alert-block alert-danger">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 
    
    
* –£–¥–∞–ª—è—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –Ω–µ —Å–æ–≤—Å–µ–º –ø—Ä–∞–≤–∏–ª—å–Ω–æ, –∏—Ö —Å–ª–∏—à–∫–æ–º –º–Ω–æ–≥–æ, —Ä–µ–∫–æ–º–µ–Ω–¥—É—é –∑–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –º–µ–¥–∏–∞–Ω–æ–π —Å —É—á–µ—Ç–æ–º –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä –ø–æ —Ç–∏–ø—É –∑–∞–Ω—è—Ç–æ—Å—Ç–∏ 
    
* –ü–æ–º–∏–º–æ —è–≤–Ω—ã—Ö –ø—Ä–æ–ø—É—Å–∫–æ–≤ –ø–æ —Å—Ç–∞–∂—É \ –¥–æ—Ö–æ–¥—É —É –Ω–∞—Å –µ—â–µ –µ—Å—Ç—å –Ω–µ–∫–∏–µ –º–∞—Ä–∫–µ—Ä—ã –ø—Ä–æ–ø—É—Å–∫–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ —Ç–∞–∫–∂–µ —Ç—Ä–µ–±—É—é—Ç –∑–∞–º–µ–Ω—ã. –ò–∑—É—á–∏ –ø—Ä–∏–∑–Ω–∞–∫ –≤–æ–∑—Ä–∞—Å—Ç–∞ –∏ –ø–æ–ª–∞.

</div>

<div class="alert alert-block alert-info">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –°–¢–£–î–ï–ù–¢–ê:</b>
    
* –ï—Å–ª–∏ –µ—Å—Ç—å —Å–ø–æ—Å–æ–± —Å–¥–µ–ª–∞—Ç—å —ç—Ç–æ –ø–æ –¥—Ä—É–≥–æ–º—É –¥–∞–π –∑–Ω–∞—Ç—å, —è –∑–∞–ø–æ–º–Ω—é. 
    
* P.S. —É –º–µ–Ω—è —è—á–µ–π–∫–∏ —Å –∫–æ–¥–æ–º –∫–æ–ª–µ—Å–∏–∫–æ–º –ø—Ä–æ–∫—Ä—É—á–∏–≤–∞—é—Ç—Å—è –Ω–µ –∑–Ω–∞–µ—à—å –∫–∞–∫ —ç—Ç–æ —É–±—Ä–∞—Ç—å
</div>

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê 2:</b> 
    
    
–ö —Å–æ–∂–∞–ª–µ–Ω–∏—é –Ω–µ –∑–Ω–∞—é..

–ù–∏–∂–µ –∞–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–Ω—ã–µ —Å–ø–æ—Å–æ–±—ã:
    
    # –°–ü–û–°–û–ë 1, –¶–ò–ö–õ
    # —Å—Ñ–æ—Ä–º–∏—Ä—É–µ–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—á–∫—É —Å –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–æ–π –ø–æ —Ç–∏–ø—É –∑–∞–Ω—è—Ç–æ—Å—Ç–∏ –∏ –∏–∑–º–µ—Ä–µ–Ω–∏–µ–º –º–µ–¥–∏–∞–Ω–Ω–æ–≥–æ –¥–æ—Ö–æ–¥–∞

    group_income = df.groupby('income_type')['total_income'].median()


    # –∑–∞–ø–æ–ª–Ω–∏–º –ø—Ä–æ–ø—É—Å–∫–∏ –Ω–∞ –º–µ–¥–∏–∞–Ω–Ω—ã–π –¥–æ—Ö–æ–¥, –æ—Å–Ω–æ–≤—ã–≤–∞—è—Å—å –Ω–∞ —Ç–∏–ø–µ –∑–∞–Ω—è—Ç–æ—Å—Ç–∏
    for i in group_income.index:

        df.loc[(data['income_type'] == i) & (df['total_income'].isnull()), 'total_income'] = group_income[i]
        
        
    # –°–ü–û–°–û–ë 2, transform
    #—Å–æ–∑–¥–∞–µ–º –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ –ø–æ –º–µ–¥–∏–∞–Ω–µ –∑–∞—Ä–ø–ª–∞—Ç—ã
    med_salary = df.groupby('income_type')['total_income'].transform('median')

    #–∑–∞–º–µ–Ω—è–µ–º –ø—Ä–æ–ø—É—Å–∫–∏ –º–µ–¥–∏–∞–Ω–æ–π –ø–æ –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø–µ
    df['total_income'] = df['total_income'].fillna(med_salary)

</div>

### –ó–∞–º–µ–Ω–∞ —Ç–∏–ø–∞ –¥–∞–Ω–Ω—ã—Ö

In [191]:
df["days_employed"] = df["days_employed"].astype("int") #–º–µ–Ω—è—é —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –Ω–∞ int —Ç–∞–∫ –∫–∞–∫ –¥–Ω–∏ —Ü–µ–ª—ã–µ —á–∏—Å–ª–∞ 
df

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,337524,31,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π,1,59956.991984,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏
1,0,395302,45,–í—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π,0,202722.511368,—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é
2,2,-3296,39,–°–†–ï–î–ù–ï–ï,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≤ –¥–µ–∫—Ä–µ—Ç–µ,1,53829.130729,–∞–≤—Ç–æ–º–æ–±–∏–ª—å
3,0,-2689,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,150447.935283,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,-2689,50,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,150447.935283,—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º
...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,-2351,37,—É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å,4,–≤ —Ä–∞–∑–≤–æ–¥–µ,3,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,115949.039788,–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
21521,1,-2113,38,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,1,89672.561153,–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å
21522,3,-3112,38,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,1,244093.050500,–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
21523,2,-1984,40,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,82047.418899,–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è
21524,0,-578,22,–≤—ã—Å—à–µ–µ,0,–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º,4,M,—Å—Ç—É–¥–µ–Ω—Ç,0,98201.625314,—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏

In [192]:
df["total_income"] = df["total_income"].astype("int") #–º–µ–Ω—è—é —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –Ω–∞ int   
df

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,337524,31,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π,1,59956,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏
1,0,395302,45,–í—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π,0,202722,—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é
2,2,-3296,39,–°–†–ï–î–ù–ï–ï,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≤ –¥–µ–∫—Ä–µ—Ç–µ,1,53829,–∞–≤—Ç–æ–º–æ–±–∏–ª—å
3,0,-2689,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,150447,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,-2689,50,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,150447,—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º
...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,-2351,37,—É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å,4,–≤ —Ä–∞–∑–≤–æ–¥–µ,3,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,115949,–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
21521,1,-2113,38,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,1,89672,–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å
21522,3,-3112,38,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,1,244093,–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
21523,2,-1984,40,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,82047,–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è
21524,0,-578,22,–≤—ã—Å—à–µ–µ,0,–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º,4,M,—Å—Ç—É–¥–µ–Ω—Ç,0,98201,—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏

>**–í—ã–≤–æ–¥**  
–ü–æ–º–µ–Ω—è–ª —Ñ–æ—Ä–º–∞—Ç —Å—Ç–æ–±—Ü–æ–≤ **days_employed**, **total_income** –Ω–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π , –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–ª –º–µ—Ç–æ–¥ astype()

<div class="alert alert-block alert-danger">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 

–î–æ—Ö–æ–¥ —Ç–∞–∫–∂–µ –ª—É—á—à–µ –ø–µ—Ä–µ–≤–µ—Å—Ç–∏ –∫ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω–æ–º—É —Ñ–æ—Ä–º–∞—Ç—É

</div>

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê 2:</b> 
    
    
–•–æ—Ä–æ—à–æ

</div>

### –û–±—Ä–∞–±–æ—Ç–∫–∞ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤

In [193]:
df["education"] = df["education"].str.lower() #–ø–µ—Ä–µ–≤–æ–∂—É –∑–Ω–∞—á–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–∞ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É
df

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,337524,31,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π,1,59956,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏
1,0,395302,45,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π,0,202722,—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é
2,2,-3296,39,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≤ –¥–µ–∫—Ä–µ—Ç–µ,1,53829,–∞–≤—Ç–æ–º–æ–±–∏–ª—å
3,0,-2689,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,150447,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,-2689,50,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,150447,—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º
...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,-2351,37,—É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å,4,–≤ —Ä–∞–∑–≤–æ–¥–µ,3,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,115949,–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
21521,1,-2113,38,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,1,89672,–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å
21522,3,-3112,38,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,1,244093,–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
21523,2,-1984,40,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,82047,–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è
21524,0,-578,22,–≤—ã—Å—à–µ–µ,0,–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º,4,M,—Å—Ç—É–¥–µ–Ω—Ç,0,98201,—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏

In [194]:
df.duplicated().sum() #–∏—â—É –¥—É–±–ª–∏–∫–∞—Ç—ã –≤–æ –≤—Å–µ–º –î–§

71

In [196]:
df = df.drop_duplicates().reset_index(drop=True)
df.duplicated().sum()

0

>**–í—ã–≤–æ–¥**:  
–í —É–∫–∞–∑–∞–Ω–Ω–æ–º –î–§ **71** –¥—É–±—Ä–∏–ø—É—é—â–∞—è —Å—Ç—Ä–æ–∫–∞, —ç—Ç–æ –≤—ã–∑–≤–∞–Ω–Ω–æ —Ç–µ–º —á—Ç–æ *—è –ø—Ä–æ–∏–∑–≤–µ–ª –∑–∞–º–µ–Ω—É –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—â–∏—Ö –∑–Ω–∞—á–µ–Ω–∏–π*

<div class="alert alert-block alert-danger">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 

–ú–æ–ª–æ–¥–µ—Ü, —á—Ç–æ –ø–æ—Ä–∞–±–æ—Ç–∞–ª —Å —Ä–µ–≥–∏—Å—Ç—Ä–æ–º, –Ω–æ —è –¥—É–º–∞—é, —á—Ç–æ –¥—É–±–ª–∏–∫–∞—Ç—ã –ø–æ—è–≤—è—Ç—Å—è, –∫–æ–≥–¥–∞ —Ç—ã –ø–æ—Ä–∞–±–æ—Ç–∞–µ—à—å —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏
</div>

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê 2:</b> 
    
    
–ú–æ–ª–æ–¥–µ—Ü!

</div>

### –õ–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏—è

In [197]:
from pymystem3 import Mystem
m = Mystem()
from collections import Counter

text = df["purpose"].unique()#–ø–æ–ª—É—á–∞—é —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ –¥–ª—è –ª–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏–∏

lemmas = [] #—Å–æ–∑–¥–∞—é –ø—É—Å—Ç–æ–π —Å–ø–∏—Å–æ–∫
#–∫–∞–∂–¥—É—é —Å—Ç—Ä–æ—á–∫—É –≤ 'text' –ª–µ–º–º–∞—Ç–∏–∑–∏—Ä—É., –ø–æ–ª—É—á–∞–µ–º —Å–ø–∏—Å–æ–∫ –ª–µ–º–º –∏ –¥–æ–±–∞–≤–ª—è–µ–º –∑–Ω–∞—á–µ–Ω–∏—è –≤ –ø—É—Å—Ç–æ–π —Å–ø–∏—Å–æ–∫ 'lemmas'
for i in text:
    lemma = m.lemmatize(i)
    lemmas.append(lemma)
lemmas

[['–ø–æ–∫—É–ø–∫–∞', ' ', '–∂–∏–ª—å–µ', ' ', '–¥–ª—è', ' ', '—Å–¥–∞—á–∞', '\n'],
 ['—Ä–µ–º–æ–Ω—Ç', ' ', '–∂–∏–ª—å–µ', '\n'],
 ['–∞–≤—Ç–æ–º–æ–±–∏–ª—å', '\n'],
 ['–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', '\n'],
 ['—Å–¥–µ–ª–∫–∞', ' ', '—Å', ' ', '–ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–π', ' ', '–∞–≤—Ç–æ–º–æ–±–∏–ª—å', '\n'],
 ['–Ω–∞', ' ', '–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ', ' ', '—Å–≤–∞–¥—å–±–∞', '\n'],
 ['–ø–æ–ª—É—á–µ–Ω–∏–µ', ' ', '–≤—ã—Å–æ–∫–∏–π', ' ', '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', '\n'],
 ['–ø–æ–∫—É–ø–∫–∞', ' ', '–∫–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π', ' ', '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å', '\n'],
 ['–æ–ø–µ—Ä–∞—Ü–∏—è', ' ', '—Å', ' ', '–∫–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π', ' ', '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å', '\n'],
 ['–æ–ø–µ—Ä–∞—Ü–∏—è', ' ', '—Å–æ', ' ', '—Å–≤–æ–π', ' ', '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å', '\n'],
 ['–ø–æ–∫—É–ø–∫–∞', ' ', '–∂–∏–ª—å–µ', '\n'],
 ['–ø–æ–∫—É–ø–∫–∞', ' ', '—Å–≤–æ–π', ' ', '–∂–∏–ª—å–µ', '\n'],
 ['–æ–ø–µ—Ä–∞—Ü–∏—è', ' ', '—Å', ' ', '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å', '\n'],
 ['–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ', ' ', '–∞–≤—Ç–æ–º–æ–±–∏–ª—å', '\n'],
 ['–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–π', ' ', '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', '\n'],
 ['–ø–æ–∫—É–ø–∫–∞', ' ', '–∂–∏–ª—å–µ', ' ', '–¥–ª—è', ' ', '—Å–µ–º—å—è', '\n'],
 ['–ø–æ–∫—É–ø–∫–∞', ' ', '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å', '\n'],
 ['–∂–∏–ª—å–µ', '\n'],
 ['–ø—Ä–æ—Ñ–∏–ª—å–Ω—ã–π', ' ', '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', '\n'],
 ['–∑–∞–Ω–∏–º–∞—Ç—å—Å—è', ' ', '–≤—ã—Å–æ–∫–∏–π', ' ', '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', '\n'],
 ['—Å–¥–µ–ª–∫–∞', ' ', '—Å', ' ', '–∞–≤—Ç–æ–º–æ–±–∏–ª—å', '\n'],
 ['–Ω–∞', ' ', '–ø–æ–∫—É–ø–∫–∞', ' ', '–∞–≤—Ç–æ–º–æ–±–∏–ª—å', '\n'],
 ['–æ–ø–µ—Ä–∞—Ü–∏—è', ' ', '—Å', ' ', '–∂–∏–ª—å–µ', '\n'],
 ['–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å', '\n'],
 ['–∑–∞–Ω–∏–º–∞—Ç—å—Å—è', ' ', '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', '\n'],
 ['–ø–æ–∫—É–ø–∫–∞', ' ', '–∂–∏–ª–æ–π', ' ', '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å', '\n'],
 ['—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ', ' ', '—Å–æ–±—Å—Ç–≤–µ–Ω–Ω—ã–π', ' ', '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å', '\n'],
 ['–ø–æ–ª—É—á–µ–Ω–∏–µ', ' ', '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', '\n'],
 ['—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ', ' ', '–∂–∏–ª–æ–π', ' ', '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å', '\n'],
 ['–Ω–∞', ' ', '–ø–æ–∫—É–ø–∫–∞', ' ', '—Å–≤–æ–π', ' ', '–∞–≤—Ç–æ–º–æ–±–∏–ª—å', '\n'],
 ['—Å–≤–∞–¥—å–±–∞', '\n'],
 ['–Ω–∞', ' ', '–ø–æ–∫—É–ø–∫–∞', ' ', '–ø–æ–¥–µ—Ä–∂–∞—Ç—å', ' ', '–∞–≤—Ç–æ–º–æ–±–∏–ª—å', '\n'],
 ['—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ', ' ', '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å', '\n'],
 ['–∞–≤—Ç–æ–º–æ–±–∏–ª—å', '\n'],
 ['–ø–æ–ª—É—á–µ–Ω–∏–µ', ' ', '–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–π', ' ', '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', '\n'],
 ['—Å—ã–≥—Ä–∞—Ç—å', ' ', '—Å–≤–∞–¥—å–±–∞', '\n'],
 ['—Å–≤–æ–π', ' ', '–∞–≤—Ç–æ–º–æ–±–∏–ª—å', '\n'],
 ['–≤—ã—Å–æ–∫–∏–π', ' ', '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', '\n']]

>**–í—ã–≤–æ–¥**:  
–ß—Ç–æ–±—ã –ø—Ä–æ–≤–µ—Å—Ç–∏ **–ª–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏—é** –≤—ã–¥–µ–ª–∏–ª —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ **purpose** –∏ —á–µ—Ä–µ–∑ —Ü–∏–∫–ª –ª–µ–º–º–∞—Ç–∏–∑–∏—Ä–æ–≤–∞–∫–ª –∫–∞–∂–¥–æ–µ –∏–∑ –Ω–∏—Ö –∫–æ—Ç–æ—Ä–æ–µ –¥–æ–±–∞–≤–∏–ª –≤ –æ—Ç–¥–µ–ª—å–Ω—ã–π —Å–ø–∏—Å–æ–∫

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 
    
–í–∏–¥–∏–º, —á—Ç–æ –≤—ã–¥–µ–ª—è—é—Ç—Å—è —Ü–µ–ª–∏ —Å–≤—è–∑–∞–Ω–Ω—ã–µ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é \ —Å–≤–∞–¥—å–±–æ–π \ –∞–≤—Ç–æ \ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º, –º–æ–ª–æ–¥–µ—Ü!
    
</div>

### –ö–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö

In [ ]:
def purpose_func(purpose):
    """ –§—É–Ω–∫—Ü–∏—è –∫–æ—Ç–æ—Ä–∞—è —Ä–∞—Å–ø—Ä–µ–¥–µ–ª—è–µ—Ç –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º —Ü–µ–ª–∏ –¥–ª—è –∫–æ—Ç–æ—Ä—ã—Ö –ª—é–¥–∏ –æ–±—Ä–∞—â–∞—é—Ç—Å—è –∑–∞ –∫—Ä–µ–¥–∏—Ç–æ–º"""
    lemmas_row = m.lemmatize(purpose)
    for i in lemmas:
        if '–∞–≤—Ç–æ' in i:
            return '–∞–≤—Ç–æ–º–æ–±–∏–ª—å'
        if '–Ω–µ–¥–≤–∏–∂' or '–∂–∏–ª' in i:
            return  '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å'
        if '—Å–≤–∞–¥' in i:
            return  '—Å–≤–∞–¥–±–∞'
        if '–æ–±—Ä–∞–∑–æ–≤' in i:
            return '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ'

In [ ]:
df['purpose_lemm'] = df['purpose'].apply(purpose_func) 
#—Å–æ–∑–¥–∞—é –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü –≥–¥–µ —Å–æ—Ö—Ä–∞–Ω—é –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ (—Ü–µ–ª–∏) –¥–ª—è –∫–æ—Ç–æ—Ä—ã—Ö –±–µ—Ä—É—Ç –∫—Ä–µ–¥–∏—Ç—ã –∏ –∫ —Å—Ç–æ–ª–±—Ü—É —Å —Ü–µ–ª—è–º–∏ –∫—Ä–µ–¥–∏—Ç–∞ –ø—Ä–∏–º–µ–Ω–∏–ª —Ñ—É–Ω–∫—Ü–∏—é
df.head()

In [ ]:
df['purpose_lemm'].value_counts()

<div class="alert alert-block alert-danger">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 
    
–ö–∞–∫ –º—ã –≤–∏–¥–∏–º, –ª–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏—è –∏ —Å–æ–∑–¥–∞–Ω–∏–µ –Ω–æ–≤—ã—Ö —Ü–µ–ª–µ–π –Ω–µ –ø—Ä–æ—à–ª–∞ —É—Å–ø–µ—à–Ω–æ, —É –Ω–∞—Å —Ç–æ–ª—å–∫–æ –æ–¥–Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏—è –≤—ã–¥–µ–ª–∏–ª–∞—Å—å
    
</div>

In [198]:
# –ö–û–î –†–ï–í–¨–Æ–í–ï–†–ê

# —á—É—Ç—å –ø–æ–¥–ø—Ä–∞–≤–∏–ª —Ç–≤–æ—é —Ñ—É–Ω–∫—Ü–∏—é

def purpose_func_new(row):
    """ –§—É–Ω–∫—Ü–∏—è –∫–æ—Ç–æ—Ä–∞—è —Ä–∞—Å–ø—Ä–µ–¥–µ–ª—è–µ—Ç –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º —Ü–µ–ª–∏ –¥–ª—è –∫–æ—Ç–æ—Ä—ã—Ö –ª—é–¥–∏ –æ–±—Ä–∞—â–∞—é—Ç—Å—è –∑–∞ –∫—Ä–µ–¥–∏—Ç–æ–º"""
    lemmas_row = m.lemmatize(row['purpose'])
    
    try:
        
        if '–∞–≤—Ç–æ–º–æ–±–∏–ª—å' in lemmas_row:
            return '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º'
        if ('–∂–∏–ª—å–µ' in lemmas_row) or ('–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å' in lemmas_row ):
            return '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é'
        if '—Å–≤–∞–¥—å–±–∞' in lemmas_row:
            return '–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã'
        if '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ' in lemmas_row:
            return '–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è'
        
    except:
        
        return '–Ω–µ—Ç –∫–∞—Ç–µ–≥–æ—Ä–∏–∏'
    
df['new_purpose'] = df.apply(purpose_func_new, axis=1)

In [199]:
# –ö–û–î –†–ï–í–¨–Æ–í–ï–†–ê

df['new_purpose'].value_counts() # —É–∂–µ –ª—É—á—à–µ, —Å–º–æ—Ç—Ä–∏ –∫–∞!

# –¥–∞–ª–µ–µ –≤ –±–ª–æ–∫–µ –æ—Ç–≤–µ—Ç–æ–≤ –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã —Ä–∞–±–æ—Ç–∞–π —Å —ç—Ç–∏–º–∏ —Ü–µ–ª—è–º–∏

–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é    10811
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º       4306
–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è        4013
–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã           2324
Name: new_purpose, dtype: int64

In [200]:
def func_income(row):
    try:
        income = row["total_income"]
        if income <= 50000:
            return "–º–∞–ª—ã–π –¥–æ—Ö–æ–¥"
        if income >= 50000 and income <= 100000:
            return "—Å—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥"
        if income >= 100001 and income <= 200000:
            return "–≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥"
        if income >= 200001 :
            return "–æ—á–µ–Ω—å –≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥"
    except:
        print("–¢—ã –¥–æ–ø—É—Å—Ç–∏–ª –æ—à–∏–±–∫—É")

In [201]:
df["income"] = df.apply(func_income, axis=1)
df.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,new_purpose,income
0,1,337524,31,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π,1,59956,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,—Å—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥
1,0,395302,45,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π,0,202722,—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,–æ—á–µ–Ω—å –≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥
2,2,-3296,39,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≤ –¥–µ–∫—Ä–µ—Ç–µ,1,53829,–∞–≤—Ç–æ–º–æ–±–∏–ª—å,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,—Å—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥
3,0,-2689,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,150447,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è,–≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥
4,0,-2689,50,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,150447,—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,–≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥

In [202]:
# –ö–û–î –†–ï–í–¨–Æ–í–ï–†–ê

df["income"].value_counts()

–≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥          11924
–æ—á–µ–Ω—å –≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥     5067
—Å—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥           4091
–º–∞–ª—ã–π –¥–æ—Ö–æ–¥              372
Name: income, dtype: int64

In [203]:
df['total_income_group'] = pd.qcut(df['total_income'], 4,  labels = ['–Ω–∏–∑–∫–∏–π', '—Å—Ä–µ–¥–Ω–∏–π', '–≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–≥–æ', '–≤—ã—Å–æ–∫–∏–π'])
df.head() #–≤–æ—Å–ø–æ–ª—å–∑–æ–≤–∞–ª—Å—è —Å–æ–≤–µ—Ç–æ–º

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,new_purpose,income,total_income_group
0,1,337524,31,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π,1,59956,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,—Å—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥,–Ω–∏–∑–∫–∏–π
1,0,395302,45,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π,0,202722,—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,–æ—á–µ–Ω—å –≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥,–≤—ã—Å–æ–∫–∏–π
2,2,-3296,39,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≤ –¥–µ–∫—Ä–µ—Ç–µ,1,53829,–∞–≤—Ç–æ–º–æ–±–∏–ª—å,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,—Å—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥,–Ω–∏–∑–∫–∏–π
3,0,-2689,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,150447,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è,–≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥,–≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–≥–æ
4,0,-2689,50,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,150447,—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,–≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥,–≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–≥–æ

In [211]:
def func_child(row):
    try:
        child = row["children"]
        if child == 0:
            return "–±–µ–∑ –¥–µ—Ç–µ–π"
        if child > 0 and child <= 2:
            return "1-2 —Ä–µ–±–µ–Ω–∫–∞"
        if child > 2:
            return "–º–Ω–æ–≥–æ–¥–µ—Ç–Ω–∞—è"
    except:
        print("–¢—ã –¥–æ–ø—É—Å—Ç–∏–ª –æ—à–∏–±–∫—É")

In [212]:
df["children_group"] = df.apply(func_child, axis=1)
df.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,new_purpose,income,total_income_group,children_group
0,1,337524,31,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π,1,59956,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,—Å—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥,–Ω–∏–∑–∫–∏–π,1-2 —Ä–µ–±–µ–Ω–∫–∞
1,0,395302,45,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π,0,202722,—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,–æ—á–µ–Ω—å –≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥,–≤—ã—Å–æ–∫–∏–π,–±–µ–∑ –¥–µ—Ç–µ–π
2,2,-3296,39,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≤ –¥–µ–∫—Ä–µ—Ç–µ,1,53829,–∞–≤—Ç–æ–º–æ–±–∏–ª—å,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,—Å—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥,–Ω–∏–∑–∫–∏–π,1-2 —Ä–µ–±–µ–Ω–∫–∞
3,0,-2689,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,150447,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è,–≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥,–≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–≥–æ,–±–µ–∑ –¥–µ—Ç–µ–π
4,0,-2689,50,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,150447,—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,–≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥,–≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–≥–æ,–±–µ–∑ –¥–µ—Ç–µ–π

<div class="alert alert-block alert-danger">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 
    
–û–±—Ä–∞—Ç–∏ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –≥—Ä—É–ø–ø—ã –ø–æ–ª—É—á–∏–ª–∏—Å—å —Å–ª–∏—à–∫–æ–º —Ä–∞–∑–Ω—ã–µ, —ç—Ç–æ –º–æ–∂–µ—Ç –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ –Ω–µ–¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ–π –æ–±—ä–µ–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏ –ø—Ä–∏ –æ—Ç–≤–µ—Ç–µ –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã, –∏–∑—É—á–∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—é –Ω–∏–∂–µ –∏ –ø–æ–¥–ø—Ä–∞–≤—å
    
</div>

>**–í—ã–≤–æ–¥**:  
–î–∞–Ω–Ω—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏—Ä–æ–≤–∞–Ω–Ω—ã –ø–æ **—Ü–µ–ª—è–º –∫—Ä–µ–¥–∏—Ç–∞** –¥–ª—è –∫–æ—Ç–æ—Ä—ã—Ö –ª—é–¥–∏ –∏–¥—É—Ç –≤ –±–∞–Ω–∫, –∞–≤—Ç–æ–º–æ–±–∏–ª–∏, –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å, –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ, –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥–µ–±.   
–í—ã–±—Ä–∞–ª –∫–∞—Ç–µ–≥–æ—Ä–∏—Ä–æ–≤–∞—Ç—å –∏–º–µ–Ω–Ω–æ –ø–æ —ç—Ç–æ–º—É –ø—Ä–∏–∑–Ω–∞–∫—É –ø–æ—Ç–æ–º—É —á—Ç–æ –º–µ–Ω–µ–¥–∂–µ—Ä—ã –≤ –±–∞–Ω–∫–µ –∑–∞–ø–æ–ª–Ω—è—è —Å—Ç–æ–ª–±–µ—Ü *—Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞* —É–∫–∞–∑—ã–≤–∞—é—Ç –≤—Å–µ —Å–æ —Å–ª–æ–≤ –∫–ª–∏–µ–Ω—Ç–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ–ª—É—á–∞–µ—Ç—Å—è –º–Ω–æ–≥–æ –∏ —Å —Ç–∞–∫–∏–º–∏ –¥–∞–Ω–Ω—ã–º–∏ —Ç—è–∂–µ–ª–æ —Ä–∞–±–æ—Ç–∞—Ç—å  
*–í —Ç–µ—á–µ–Ω–∏–∏ —á–∞—Å–∞ –ø—ã—Ç–∞–ª—Å—è –ø—Ä–æ—á–∏—Ç–∞—Ç—å —Ñ—É–Ω–∫—Ü–∏—é, –Ω–æ –≤–∏–¥–Ω–æ –¥–∞–Ω–Ω—ã—Ö –æ—á–µ–Ω—å –º–Ω–æ–≥–æ –ø–æ—ç—Ç–æ–º—É –Ω–µ –ø—Ä–æ–≥—Ä—É–∑–∏–ª(( —Å–æ—Ä—Ä–∏*  
**–ï—â–µ —Å–¥–µ–ª–∞–ª –∫–∞—Ç–µ–≥–æ—Ä–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –ø–æ –¥–æ—Ö–æ–¥—É —á—Ç–æ–±—ã –æ—Ç–≤–µ—Ç–∏—Ç—å –Ω–∞ –≤–æ–ø—Ä–æ—Å** –∏ **–ø–æ –Ω–∞–ª–∏—á–∏—é –¥–µ—Ç–µ–π**

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 
    
–ö–∞—Å–∞–µ–º–æ –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏–∏ –ø–æ —Ç–æ–º—É –∂–µ –¥–æ—Ö–æ–¥—É, –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –∫–≤–∞—Ä—Ç–∏–ª–∏ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ:
    
`df['total_income_group'] = pd.qcut(df['total_income'], 4,  labels = ['–Ω–∏–∑–∫–∏–π', '—Å—Ä–µ–¥–Ω–∏–π', '–≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–≥–æ', '–≤—ã—Å–æ–∫–∏–π'])`
    
–≠—Ç–æ –ø—Ä–∏–≤–µ–ª–æ –±—ã –∫ –±–æ–ª–µ–µ —Ä–∞–≤–Ω–æ–º–µ—Ä–Ω–æ–º—É —Ä–∞–∑–±–∏–µ–Ω–∏—é
</div>

## –®–∞–≥ 3. –û—Ç–≤–µ—Ç—å—Ç–µ –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã

- –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –Ω–∞–ª–∏—á–∏–µ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [204]:
df["children"] = df["children"].abs()# –≤ –¥–∞–Ω–Ω—ã—Ö –µ—Å—Ç—å –∑–Ω–∞—á–µ–Ω–∏–µ -1 —Ä–µ–±–µ–Ω–æ–∫, –ø—Ä–µ–¥–ø–æ–ª–æ–∂—É —á—Ç–æ —ç—Ç–æ –æ—à–∏–±–∫–∞ –æ–ø–µ—Ä–∞—Ç–æ—Ä–∞ –ø—Ä–∏ –≤–≤–æ–¥–µ –¥–∞–Ω–Ω—ã—Ö
# –º–µ–Ω—è—é –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω–æ–µ —á–∏—Å–ª–æ –Ω–∞ –ø–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω–æ–µ

<div class="alert alert-block alert-danger">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 

* –õ—É—á—à–µ –µ—â–µ –æ—Ç–±—Ä–æ—Å–∏—Ç—å 20 –¥–µ—Ç–µ–π, —ç—Ç–æ —è–≤–Ω–æ –∞–Ω–æ–º–∞–ª–∏—è, —Ç–∫ —Ä–∞–∑—Ä—ã–≤–∞ –º–µ–∂–¥—É 5 –∏ 20 —Å–ª–∏—à–∫–æ–º –±–æ–ª—å—à–æ–π
    
* –û–ø—Ç–∏–º–∞–ª—å–Ω–µ–µ —Ç–∞–∫–∂–µ –ø—Ä–æ–≤–µ—Å—Ç–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—é –Ω–∞ ¬´–±–µ–∑ –¥–µ—Ç–µ–π \ 1-2 —Ä–µ–±–µ–Ω–∫–∞ \ –º–Ω–æ–≥–æ–¥–µ—Ç–Ω–∞—è¬ª, —ç—Ç–æ —Å–¥–µ–ª–∞–µ—Ç –≥—Ä—É–ø–ø—ã –±–æ–ª–µ–µ —Ä–µ–ø—Ä–µ–∑–µ–Ω—Ç–∞—Ç–∏–≤–Ω—ã–º–∏
    
    
</div>

In [213]:
df_child = df[df.children < 20] #–æ—Ç–±—Ä–∞—Å—ã–≤–∞—é –∑–Ω–∞—á–µ–Ω–∏—è —Å 20 –¥–µ—Ç—å–º–∏
df_child

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,new_purpose,income,total_income_group,children_group
0,1,337524,31,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π,1,59956,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,—Å—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥,–Ω–∏–∑–∫–∏–π,1-2 —Ä–µ–±–µ–Ω–∫–∞
1,0,395302,45,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π,0,202722,—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,–æ—á–µ–Ω—å –≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥,–≤—ã—Å–æ–∫–∏–π,–±–µ–∑ –¥–µ—Ç–µ–π
2,2,-3296,39,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≤ –¥–µ–∫—Ä–µ—Ç–µ,1,53829,–∞–≤—Ç–æ–º–æ–±–∏–ª—å,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,—Å—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥,–Ω–∏–∑–∫–∏–π,1-2 —Ä–µ–±–µ–Ω–∫–∞
3,0,-2689,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,150447,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è,–≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥,–≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–≥–æ,–±–µ–∑ –¥–µ—Ç–µ–π
4,0,-2689,50,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,150447,—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,–≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥,–≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–≥–æ,–±–µ–∑ –¥–µ—Ç–µ–π
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21449,1,-2351,37,—É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å,4,–≤ —Ä–∞–∑–≤–æ–¥–µ,3,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,115949,–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,–≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥,—Å—Ä–µ–¥–Ω–∏–π,1-2 —Ä–µ–±–µ–Ω–∫–∞
21450,1,-2113,38,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,1,89672,–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,—Å—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥,–Ω–∏–∑–∫–∏–π,1-2 —Ä–µ–±–µ–Ω–∫–∞
21451,3,-3112,38,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,1,244093,–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,–æ—á–µ–Ω—å –≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥,–≤—ã—Å–æ–∫–∏–π,–º–Ω–æ–≥–æ–¥–µ—Ç–Ω–∞—è
21452,2,-1984,40,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,82047,–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º,—Å—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥,–Ω–∏–∑–∫–∏–π,1-2 —Ä–µ–±–µ–Ω–∫–∞
21453,0,-578,22,–≤—ã—Å—à–µ–µ,0,–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º,4,M,—Å—Ç—É–¥–µ–Ω—Ç,0,98201,—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é,—Å—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥,–Ω–∏–∑–∫–∏–π,–±–µ–∑ –¥–µ—Ç–µ–π

In [235]:
df_child_group = df_child.groupby("children_group").agg({"debt":"sum", "family_status_id":"count"}).reset_index()
df_child_group
#–≥—Ä—É–ø–ø–∏—Ä—É—é –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –Ω–∞–ª–∏—á–∏—è –¥–µ—Ç–µ–π –∏ –≤—ã—á–∏—Å–ª—è—é —Å–∫–æ–ª—å–∫–æ —Ä–∞–∑ –ø—Ä–æ—Å—Ä–æ—á–∏–ª–∏ –∫—Ä–µ–¥–∏—Ç 
#–∞ —Ç–∞–∫–∂–µ —Å–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ –ª—é–¥–µ–π –≤ –¥–∞–Ω–Ω–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏

  children_group  debt  family_status_id
0    1-2 —Ä–µ–±–µ–Ω–∫–∞   639              6907
1      –±–µ–∑ –¥–µ—Ç–µ–π  1063             14091
2    –º–Ω–æ–≥–æ–¥–µ—Ç–Ω–∞—è    31               380

In [237]:
df_child_group["%_no_return"] = df_child_group["debt"] / df_child_group["family_status_id"] * 100
df_child_group

  children_group  debt  family_status_id  %_no_return
0    1-2 —Ä–µ–±–µ–Ω–∫–∞   639              6907     9.251484
1      –±–µ–∑ –¥–µ—Ç–µ–π  1063             14091     7.543822
2    –º–Ω–æ–≥–æ–¥–µ—Ç–Ω–∞—è    31               380     8.157895

<div class="alert alert-block alert-info">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –°–¢–£–î–ï–ù–¢–ê:</b>
    
* –¢–µ–ø–µ—Ä—å –≤–∏–∂—É –ø–æ—á–µ–º—É —Ç—ã –∑–∞—Å—Ç–∞–≤–∏–ª –º–µ–Ω—è –ø–æ—Å—á–∏—Ç–∞—Ç—å –ø—Ä–æ—Ü–µ–Ω—Ç—ã, —Å–ø–∞—Å–∏–±–æ
    
</div>

>**–í—ã–≤–æ–¥**:  
–¢–∞–∫–∞—è –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å **–Ω–∞–±–ª—é–¥–∞–µ—Ç—Å—è**, –ª—é–¥–∏ —É –∫–æ—Ç–æ—Ä—ã—Ö –µ—Å—Ç—å –¥–µ—Ç–∏ —á–∞—â–µ –Ω–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã —á–µ–º —Ç–µ —É –∫–æ—Ç–æ—Ä—ã—Ö –¥–µ—Ç–µ–π –Ω–µ—Ç

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê 2:</b> 
    
    
–ú–æ–ª–æ–¥–µ—Ü! –ü—Ä–∏ —ç—Ç–æ–º –º—ã –≤–∏–¥–∏–º, —á—Ç–æ –º–Ω–æ–≥–æ–¥–µ—Ç–Ω–∞—è —Å–µ–º—å—è –Ω–∞–¥–µ–∂–Ω–µ–µ, –Ω–µ–∂–µ–ª–∏ –º–∞–ª–æ–¥–µ—Ç–Ω–∞—è

</div>

<div class="alert alert-block alert-danger">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 

–¢–∞–∫–æ–π –ø–æ–¥—Ö–æ–¥ –∫ –∞–Ω–∞–ª–∏–∑—É –Ω–∞–¥–µ–∂–Ω–æ—Å—Ç–∏ –∑–∞–µ–º—â–∏–∫–æ–≤ –Ω–µ —Å–æ–≤—Å–µ–º –æ–±—ä–µ–∫—Ç–∏–≤–µ–Ω, –≥–æ—Ä–∞–∑–¥–æ –ª—É—á—à–µ —Å—á–∏—Ç–∞—Ç—å % –Ω–µ–≤–æ–∑–≤—Ä–∞—Ç–æ–≤, —Ç.–µ. –∫–æ–ª-–≤–æ –¥–æ–ª–∂–Ω–∏–∫–æ–≤ –¥–µ–ª–∏—Ç—å –Ω–∞ –∫–æ–ª-–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –∫–æ–Ω–∫—Ä–µ—Ç–Ω–æ–π –≥—Ä—É–ø–ø–µ (–∏–ª–∏ –∂–µ –ø—Ä–æ—Å—Ç–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å mean –Ω–∞ debt, —Ç–∫ –æ–Ω –±–∏–Ω–∞—Ä–Ω—ã–π)
    
    
`p.s. —ç—Ç–æ –∑–∞–º–µ—á–∞–Ω–∏–µ –∫—Ä–∏—Ç–∏—á–Ω–æ –¥–ª—è –≤—Å–µ—Ö —Ç–∞–±–ª–∏—á–µ–∫ –Ω–∏–∂–µ –≤ —Ç–æ–º —á–∏—Å–ª–µ, –∏—Å–ø—Ä–∞–≤—å –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, —ç—Ç–æ –ø—Ä–∏–≤–µ–¥–µ—Ç –∫ –∏–∑–º–µ–Ω–µ–Ω–∏—é –≤—ã–≤–æ–¥–æ–≤`
</div>

- –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [238]:
df_family = df.groupby("family_status").agg({"debt":"sum", "family_status_id":"count"}).reset_index()
df_family

           family_status  debt  family_status_id
0  –ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º   274              2810
1              –≤ —Ä–∞–∑–≤–æ–¥–µ    85              1195
2         –≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞    63               959
3       –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫   388              4151
4        –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º   931             12339

In [239]:
df_family["%_no_return"] = df_family["debt"] / df_family["family_status_id"] * 100
df_family

           family_status  debt  family_status_id  %_no_return
0  –ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º   274              2810     9.750890
1              –≤ —Ä–∞–∑–≤–æ–¥–µ    85              1195     7.112971
2         –≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞    63               959     6.569343
3       –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫   388              4151     9.347145
4        –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º   931             12339     7.545182

>**–í—ã–≤–æ–¥:**  
–õ—é–¥–∏ **–Ω–µ –∂–µ–Ω–∞—Ç—ã–µ** (–∏ –Ω–∞—Ö–æ–¥—è—â–∏–µ—Å—è –≤ –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–æ–º –±—Ä–∞–∫–µ) —á–∞—â–µ –∏–º–µ–ª–∏ –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å –ø–æ –≤–æ–∑–≤—Ä–∞—Ç—É –∫—Ä–µ–¥–∏—Ç–æ–≤, –≤–º–µ—Å—Ç–µ —Å —Ç–µ–º –ª—é–¥–∏ –ø–æ—Ç–µ—Ä—è–≤—à–∏–µ –±–ª–∏–∑–∫–∏—Ö –∫—Ä–µ–¥–∏—Ç—ã —Å—Ç–∞—Ä–∞—é—Ç—Å—è –≤–æ–∑–≤—Ä–∞—â–∞—Ç—å –≤–æ–≤—Ä–µ–º—è

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê 2:</b> 

–ö–∞–∫ –º–æ–∂–Ω–æ –∑–∞–º–µ—Ç–∏—Ç—å, —Å—Ç–∞—Ç—É—Å –æ—Ñ–∏—Ü–∏–∞–ª—å–Ω–æ—Å—Ç–∏ –æ—Ç–Ω–æ—à–µ–Ω–∏–π –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –ø–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω–æ —Å–∫–∞–∑—ã–≤–∞–µ—Ç—Å—è –Ω–∞ –≤–æ–∑–≤—Ä–∞—Ç–µ –∫—Ä–µ–¥–∏—Ç–∞. –õ—é–¥–∏, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ —Å–æ—Å—Ç–æ—è—Ç –≤ –æ—Ñ–∏—Ü–∏–∞–ª—å–Ω—ã—Ö –æ—Ç–Ω–æ—à–µ–Ω–∏—è—Ö –∏ –Ω–∏–∫–æ–≥–¥–∞ –Ω–µ —Å–æ—Å—Ç–æ—è–ª–∏ —Ö—É–∂–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã, –≤ –æ—Ç–ª–∏—á–∏–∏ –æ—Ç —Å–µ–º–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –∏–º–µ—é—Ç –æ—Ñ–∏—Ü–∏–∞–ª—å–Ω—ã–π —Å—Ç–∞—Ç—É—Å, –ø—É—Å—Ç—å –¥–∞–∂–µ –∫–æ–≥–¥–∞-—Ç–æ –≤ –ø—Ä–æ—à–ª–æ–º.
    
</div>

- –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [240]:
df_income = df.groupby("income").agg({"debt":"sum", "family_status_id":"count"}).reset_index()
df_income

                income  debt  family_status_id
0        –≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥  1029             11924
1          –º–∞–ª—ã–π –¥–æ—Ö–æ–¥    23               372
2  –æ—á–µ–Ω—å –≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥   358              5067
3        —Å—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥   331              4091

In [241]:
df_income["%_no_return"] = df_income["debt"] / df_income["family_status_id"] * 100
df_income

                income  debt  family_status_id  %_no_return
0        –≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥  1029             11924     8.629654
1          –º–∞–ª—ã–π –¥–æ—Ö–æ–¥    23               372     6.182796
2  –æ—á–µ–Ω—å –≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥   358              5067     7.065325
3        —Å—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥   331              4091     8.090931

>**–í—ã–≤–æ–¥:**  
*–°–∞–º —É–¥–∏–≤–ª–µ–Ω*  
–ö–∞–∫ –Ω–∏ —Å—Ç—Ä–∞–Ω–Ω–æ –Ω–æ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –¥–æ—Ö–æ–¥–æ–º –ª—é–¥–µ–π –∏ –Ω–µ–≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫ –µ—Å—Ç—å, —á–µ–º –≤—ã—à–µ –ª—é–¥–∏ –∑–∞—Ä–∞–±–∞—Ç—ã–≤–∞—é—Ç —Ç–µ–º —á–∞—â–µ –Ω–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç –≤–æ–≤—Ä–µ–º—è, –≤–º–µ—Å—Ç–µ —Å —Ç–µ–º –ª—é–¥–∏ –∏–º–µ—é—â–∏–µ –º–∞–ª—ã–π –¥–æ—Ö–æ–¥ *–º–µ–Ω–µ–µ 50 000* –ø—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∏ –≤—Å–µ–≥–¥–∞ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã –≤–æ–≤—Ä–µ–º—è

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê 2:</b> 

* –£–¥–∏–≤–∏—Ç–µ–ª—å–Ω–æ, –Ω–æ –ø–æ —Å—É—Ç–∏ –≤—ã–¥–µ–ª—è–µ—Ç—Å—è, —á—Ç–æ –ª—é–¥–∏ —Å—Ä–µ–¥–Ω–µ–≥–æ –∫–ª–∞—Å—Å–∞ –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ —Ö—É–∂–µ –≤—Å–µ—Ö –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã, –¥–∞–∂–µ —Ö—É–∂–µ, —á–µ–º –ª—é–¥–∏ —Å –Ω–∏–∑–∫–∏–º –¥–æ—Ö–æ–¥–æ–º. –í–æ–∑–º–æ–∂–Ω–æ, –ª—é–¥–∏ –Ω–∏–∑–∫–æ–≥–æ –¥–æ—Ö–æ–¥–∞ –±–æ–ª–µ–µ –∫—Ä–∏—Ç–∏—á–µ—Å–∫–∏ –æ—Ü–µ–Ω–∏–≤–∞—é—Ç —Å–≤–æ–∏ –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç–∏, –∞ –ª—é–¥—è–º —Å –≤—ã—Å–æ–∫–∏–º –¥–æ—Ö–æ–¥–æ–º –ø—Ä–æ—Å—Ç–æ —Ö–≤–∞—Ç–∞–µ—Ç —Å—Ç–∞–±–∏–ª—å–Ω–æ–≥–æ –∑–∞—Ä–∞–±–æ—Ç–∫–∞ –Ω–∞ –ø–æ–≥–∞—à–µ–Ω–∏–µ –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç–µ–π

</div>

- –ö–∞–∫ —Ä–∞–∑–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –≤–ª–∏—è—é—Ç –Ω–∞ –µ–≥–æ –≤–æ–∑–≤—Ä–∞—Ç –≤ —Å—Ä–æ–∫?

In [243]:
df_purpose = df.groupby("new_purpose").agg({"debt":"sum", "family_status_id":"count"}).reset_index()
df_purpose

                new_purpose  debt  family_status_id
0    –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º   403              4306
1  –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é   782             10811
2     –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è   370              4013
3        –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã   186              2324

In [244]:
df_purpose["%_no_return"] = df_purpose["debt"] / df_purpose["family_status_id"] * 100
df_purpose

                new_purpose  debt  family_status_id  %_no_return
0    –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º   403              4306     9.359034
1  –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é   782             10811     7.233373
2     –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è   370              4013     9.220035
3        –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã   186              2324     8.003442

>**–í—ã–≤–æ–¥:**  
–õ—é–¥–∏ –±–µ—Ä—É—â–∏–µ –∫—Ä–µ–¥–∏—Ç—ã –Ω–∞ **–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª—è–º–∏ –∏ –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è** —á–∞—â–µ –≤—Å–µ–≥–æ –Ω–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã –≤ —Å—Ä–æ–∫, –≤–º–µ—Å—Ç–µ —Å —Ç–µ–º –ª—é–¥–∏ –±–µ—Ä—É—â–∏–µ –∫—Ä–µ–¥–∏—Ç—ã –Ω–∞ **–Ω–µ–∂–≤–∏–∂–∏–º–æ—Å—Ç—å** –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –≤–æ –≤—Ä–µ–º—è

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê 2:</b> 

–°–æ–≥–ª–∞—Å–µ–Ω, –≤–∏–¥–∏–º, —á—Ç–æ –Ω–∞–∏–±–æ–ª–µ–µ —Ä–∏—Å–∫–æ–≤—ã–µ —Ü–µ–ª–∏ —ç—Ç–æ —É –Ω–∞—Å –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –∏ –∞–≤—Ç–æ–º–æ–±–∏–ª—å, —Ç–æ–≥–¥–∞ –∫–∞–∫ —Å–≤–∞–¥—å–±–∞ –∏ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å –Ω–∞–ø—Ä–æ—Ç–∏–≤, —è–≤–ª—è—é—Ç—Å—è –Ω–∞–∏–±–æ–ª–µ–µ –±–µ–∑–æ–ø–∞—Å–Ω—ã–º–∏ —Ü–µ–ª—è–º–∏

</div>

<div class="alert alert-block alert-danger">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 
    
–ë–ª–æ–∫ –≤–æ–ø—Ä–æ—Å–æ–≤ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø–µ—Ä–µ–¥–µ–ª–∞—Ç—å, –≤—ã–≤–æ–¥—ã –∏–∑–º–µ–Ω—è—Ç—Å—è, –æ–ø–∏—Ä–∞–π—Å—è –Ω–∞ % –Ω–µ–≤–æ–∑–≤—Ä–∞—Ç–æ–≤, —á–µ–º –≤—ã—à–µ, —Ç–µ–º —Ö—É–∂–µ
    
</div>

## –®–∞–≥ 4. –û–±—â–∏–π –≤—ã–≤–æ–¥

>–ü—Ä–∏ –Ω–∞–ª–∏—á–∏–∏ –¥–µ—Ç–µ–π % –ø—Ä–æ—Å—Ä–æ—á–∫–∏ –≤—ã—à–µ —á–µ–º —É –ø–∞—Ä –Ω–µ –∏–º—é—â–∏—Ö –¥–µ—Ç–µ–π.  
–í–ª–∏—è–Ω–∏–µ —Å–µ–º–µ–π–Ω–æ–≥–æ –ø–æ–ª–æ–∂–µ–Ω–∏—è –∏–º–µ–µ—Ç —Å—Ö–æ–∂–∏–π —Ö–∞—Ä–∞–∫—Ç–µ—Ä –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –ø—Ä–æ—Å—Ä–æ—á–µ–∫ —É —Ç–µ—Ö –∫—Ç–æ –Ω–µ –∂–µ–Ω–∞—Ç –∏–ª–∏ –∂–∏–≤–µ—Ç –≤ –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–æ–º –±—Ä–∞–∫–µ.  
–£ —Ç–µ—Ö —É –∫–æ–≥–æ –¥–æ—Ö–æ–¥ –≤—ã—Å–æ–∫–∏–π –∏ –ø—Ä–æ—Ü–µ–Ω—Ç –Ω–µ –≤–æ–∑–≤—Ä–∞—Ç–∞ –∫—Ä–µ–¥–∏—Ç–æ–≤ –æ—Å—Ç–∞–µ—Ç—Å—è –Ω–∞ –≤—ã—Å–æ–∫–æ–º —É—Ä–æ–≤–Ω–µ
–ò–∑ —Ü–µ–ª–µ–π –∫—Ä–µ–¥–∏—Ç–∞ —Å–∞–º–æ–π –Ω–∞–¥–µ–∂–Ω–æ–π —è–≤–ª—è–µ—Ç—Å—è –∏–ø–æ—Ç–µ–∫–∞ –∏–ª–∏ —Å–¥–µ–ª–∫–∏ —Å –Ω–µ–∂–≤–∏–∂–∏–º–æ—Å—Ç—å—é

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 
    
`–ú–∏—Ö–∞–∏–ª, —Ç—ã —Ö–æ—Ä–æ—à–æ –≤—ã–ø–æ–ª–Ω–∏–ª –ø—Ä–æ–µ–∫—Ç, –Ω–æ –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –º–æ–º–µ–Ω—Ç—ã –≤–∞–∂–Ω–æ –ø–æ–¥–ø—Ä–∞–≤–∏—Ç—å. –≠—Ç–æ –ø—Ä–∏–≤–µ–¥–µ—Ç –∫ –∑–Ω–∞—á–∏–º–æ–º—É –∏–∑–º–µ–Ω–µ–Ω–∏—é —Ç–≤–æ–∏—Ö –≤—ã–≤–æ–¥–æ–≤`
    
</div>

## –ß–µ–∫-–ª–∏—Å—Ç –≥–æ—Ç–æ–≤–Ω–æ—Å—Ç–∏ –ø—Ä–æ–µ–∫—Ç–∞

–ü–æ—Å—Ç–∞–≤—å—Ç–µ 'x' –≤ –≤—ã–ø–æ–ª–Ω–µ–Ω–Ω—ã—Ö –ø—É–Ω–∫—Ç–∞—Ö. –î–∞–ª–µ–µ –Ω–∞–∂–º–∏—Ç–µ Shift+Enter.

- [x]  –æ—Ç–∫—Ä—ã—Ç —Ñ–∞–π–ª;
- [x]  —Ñ–∞–π–ª –∏–∑—É—á–µ–Ω;
- [x]  –æ–ø—Ä–µ–¥–µ–ª–µ–Ω—ã –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è;
- [x]  –∑–∞–ø–æ–ª–Ω–µ–Ω—ã –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è;
- [x]  –µ—Å—Ç—å –ø–æ—è—Å–Ω–µ–Ω–∏–µ, –∫–∞–∫–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –æ–±–Ω–∞—Ä—É–∂–µ–Ω—ã;
- [x]  –æ–ø–∏—Å–∞–Ω—ã –≤–æ–∑–º–æ–∂–Ω—ã–µ –ø—Ä–∏—á–∏–Ω—ã –ø–æ—è–≤–ª–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –¥–∞–Ω–Ω—ã—Ö;
- [x]  –æ–±—ä—è—Å–Ω–µ–Ω–æ, –ø–æ –∫–∞–∫–æ–º—É –ø—Ä–∏–Ω—Ü–∏–ø—É –∑–∞–ø–æ–ª–Ω–µ–Ω—ã –ø—Ä–æ–ø—É—Å–∫–∏;
- [x]  –∑–∞–º–µ–Ω–µ–Ω –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –Ω–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π;
- [x]  –µ—Å—Ç—å –ø–æ—è—Å–Ω–µ–Ω–∏–µ, –∫–∞–∫–æ–π –º–µ—Ç–æ–¥ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –∏–∑–º–µ–Ω–µ–Ω–∏—è —Ç–∏–ø–∞ –¥–∞–Ω–Ω—ã—Ö –∏ –ø–æ—á–µ–º—É;
- [x]  —É–¥–∞–ª–µ–Ω—ã –¥—É–±–ª–∏–∫–∞—Ç—ã;
- [x]  –µ—Å—Ç—å –ø–æ—è—Å–Ω–µ–Ω–∏–µ, –∫–∞–∫–æ–π –º–µ—Ç–æ–¥ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –ø–æ–∏—Å–∫–∞ –∏ —É–¥–∞–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤;
- [x]  –æ–ø–∏—Å–∞–Ω—ã –≤–æ–∑–º–æ–∂–Ω—ã–µ –ø—Ä–∏—á–∏–Ω—ã –ø–æ—è–≤–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ –¥–∞–Ω–Ω—ã—Ö;
- [x]  –≤—ã–¥–µ–ª–µ–Ω—ã –ª–µ–º–º—ã –≤ –∑–Ω–∞—á–µ–Ω–∏—è—Ö —Å—Ç–æ–ª–±—Ü–∞ —Å —Ü–µ–ª—è–º–∏ –ø–æ–ª—É—á–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞;
- [x]  –æ–ø–∏—Å–∞–Ω –ø—Ä–æ—Ü–µ—Å—Å –ª–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏–∏;
- [x]  –¥–∞–Ω–Ω—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∏—Ä–æ–≤–∞–Ω—ã;
- [x]  –µ—Å—Ç—å –æ–±—ä—è—Å–Ω–µ–Ω–∏–µ –ø—Ä–∏–Ω—Ü–∏–ø–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏–∏ –¥–∞–Ω–Ω—ã—Ö;
- [x]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –Ω–∞–ª–∏—á–∏–µ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?";
- [x]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?";
- [x]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?";
- [x]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ö–∞–∫ —Ä–∞–∑–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –≤–ª–∏—è—é—Ç –Ω–∞ –µ–≥–æ –≤–æ–∑–≤—Ä–∞—Ç –≤ —Å—Ä–æ–∫?";
- [x]  –≤ –∫–∞–∂–¥–æ–º —ç—Ç–∞–ø–µ –µ—Å—Ç—å –≤—ã–≤–æ–¥—ã;
- [x]  –µ—Å—Ç—å –æ–±—â–∏–π –≤—ã–≤–æ–¥.